In [1]:
import math
math.ceil(6.3)

7

In [2]:
math.ceil(2.1)

3

In [4]:
math.floor(6.3)

6

In [5]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [6]:
help(math.floor)

Help on built-in function floor in module math:

floor(x, /)
    Return the floor of x as an Integral.

    This is the largest integer <= x.

In [7]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [8]:
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [9]:
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [10]:
__init__.py:
__all__=["bar"]

SyntaxError: invalid syntax (<ipython-input-10-d185ba106d06>, line 1)

In [11]:
try:
    f=open('testfile','w')
    f.write('write this in test')
except IOError:
    print('Error: could not find the file')
else:
    print('content written!!!')
    f.close()

content written!!!

In [12]:
try:
    f=open('testfile','r')
    f.write('write this in test')
except IOError:
    print('Error: could not find the file')
else:
    print('content written!!!')
    f.close()

Error: could not find the file

In [13]:
try:
    f=open('testfile','w')
    f.write('write this in test')
except:
    print('Error: could not find the file')
else:
    print('content written!!!')
    f.close()

content written!!!

In [14]:
try:
    f=open('testfile','w')
    f.write('test write statement')
finally:
    print('always execute finally block codes')

always execute finally block codes

In [16]:
def askint():
    try:
        val=int(input('Enter an integer:'))
    except:
        print('You have not entered an integer!')
    finally:
        print('It is executed!')
    print(val)

In [17]:
askint()

Enter an integer:234
It is executed!
234

In [18]:
askint()

Enter an integer:hda
You have not entered an integer!
It is executed!

UnboundLocalError: local variable 'val' referenced before assignment

In [19]:
def askint():
    try:
        val=int(input('Enter an integer:'))
    except:
        print('You have not entered an integer!')
        val=int(input('Enter it again:'))
    finally:
        print('It is executed!')
    print(val)

In [20]:
askint()

Enter an integer:tnn
You have not entered an integer!
Enter it again:4
It is executed!
4

In [23]:
def askint():
    while True:
        try:
            val=int(input('Enter an integer:'))
        except:
            print('You have not entered an integer!')
            continue 
        else:
            print('That is an integer!')
            break
        finally:
            print('It is executed!')
        print(val)

In [24]:
askint()

Enter an integer:gd
You have not entered an integer!
It is executed!
Enter an integer:sm
You have not entered an integer!
It is executed!
Enter an integer:cn
You have not entered an integer!
It is executed!
Enter an integer:55
That is an integer!
It is executed!

In [29]:
# database

import sqlite3

# connecting to database
db=sqlite3.connect("my_database1.db")

# drop table if already exists
db.execute("drop table if exists grades1")

# create table
db.execute("create table grades1(id int, name text, marks int)")

# insert values in table
db.execute("insert into grades1(id, name, marks) values(11,'John',76)")
db.execute("insert into grades1(id, name, marks) values(14,'Paul',21)")
db.execute("insert into grades1(id, name, marks) values(12,'Harry',66)")
db.execute("insert into grades1(id, name, marks) values(13,'Peter',57)")
db.execute("insert into grades1(id, name, marks) values(15,'John',88)")

In [30]:
db.commit()

In [32]:
results= db.execute("select * from grades1 order by id" )
for row in results:
    print(row)
print("-" * 60)

(11, 'John', 76)
(12, 'Harry', 66)
(13, 'Peter', 57)
(14, 'Paul', 21)
(15, 'John', 88)
------------------------------------------------------------

In [34]:
results= db.execute("select * from grades1 order by id" )
for row in results:
    print(row)
    print("-" * 60)

(11, 'John', 76)
------------------------------------------------------------
(12, 'Harry', 66)
------------------------------------------------------------
(13, 'Peter', 57)
------------------------------------------------------------
(14, 'Paul', 21)
------------------------------------------------------------
(15, 'John', 88)
------------------------------------------------------------

In [35]:
results= db.execute("select * from grades1 where name= 'Peter'" )
for row in results:
    print(row)
print("-" * 60)

(13, 'Peter', 57)
------------------------------------------------------------

In [37]:
results= db.execute("select * from grades1 where marks >= 50" )
for row in results:
    print(row)
print("-" * 60)

(11, 'John', 76)
(12, 'Harry', 66)
(13, 'Peter', 57)
(15, 'John', 88)
------------------------------------------------------------

In [43]:
results= db.execute("select name, marks from grades1 order by marks desc" )
for row in results:
    print(row)
print("-" * 60)

('John', 88)
('John', 76)
('Harry', 66)
('Peter', 57)
('Paul', 21)
------------------------------------------------------------

In [44]:
results= db.execute("select name, marks from grades1 order by marks asc" )
for row in results:
    print(row)
print("-" * 60)

('Paul', 21)
('Peter', 57)
('Harry', 66)
('John', 76)
('John', 88)
------------------------------------------------------------

In [45]:
results= db.execute("select name, marks from grades1 order by marks" )
for row in results:
    print(row)
print("-" * 60)

('Paul', 21)
('Peter', 57)
('Harry', 66)
('John', 76)
('John', 88)
------------------------------------------------------------

In [46]:
results= db.execute("select name, marks from grades1 order by marks desc" )
for row in results:
    print(row)

('John', 88)
('John', 76)
('Harry', 66)
('Peter', 57)
('Paul', 21)