In [5]:
#constructing tuples

t=(1,2,3,4)
t

(1, 2, 3, 4)

In [6]:
len(t)

4

In [7]:
#mixed object types
t=('one',2,3.0)
t

('one', 2, 3.0)

In [8]:
t[-1]

3.0

In [9]:
t[0]

'one'

In [10]:
t.index(2)

1

In [11]:
t.index('one')

0

In [12]:
t.count('one')

1

In [13]:
#immutable
t[0]='add'

TypeError: 'tuple' object does not support item assignment

In [14]:
#cant append
t.append('append')

AttributeError: 'tuple' object has no attribute 'append'

In [15]:
#set
x=set()

In [16]:
x.add(1)

In [17]:
x

{1}

In [18]:
x.add(2)
x

{1, 2}

In [19]:
x.add(1)
x

{1, 2}

In [20]:
l=[1,2,3,1,4,5,2,4,6,3,]

In [21]:
set(l)

{1, 2, 3, 4, 5, 6}

In [22]:
#dictionaries

my_dict={'key 1':'value 1','key 2':'value 2'}
my_dict

{'key 1': 'value 1', 'key 2': 'value 2'}

In [23]:
my_dict['key 2']

'value 2'

In [24]:
my_dict={'key1':123,'key2':[11,22,33],'key3':['item1','item2','item3']}
my_dict

{'key1': 123, 'key2': [11, 22, 33], 'key3': ['item1', 'item2', 'item3']}

In [25]:
my_dict['key3']

['item1', 'item2', 'item3']

In [26]:
my_dict['key2'][1]

22

In [27]:
my_dict['key3'][1].upper()

'ITEM2'

In [28]:
my_dict['key1']

123

In [29]:
my_dict['key1'] - 123

0

In [30]:
my_dict['key1'] = my_dict['key1'] - 123

In [31]:
my_dict['key1']

0

In [32]:
my_dict

{'key1': 0, 'key2': [11, 22, 33], 'key3': ['item1', 'item2', 'item3']}

In [33]:
my_dict['key1'] -= 123
my_dict['key1']

-123

In [34]:
my_dict['key1'] += 123
my_dict['key1']

0

In [35]:
d={}
d['book']= 'page'
d['number']= 55
d

{'book': 'page', 'number': 55}

In [36]:
#nesting with dictionaries

d={'key1': {'nested1' : {'subset1':'value1'}}}
d

{'key1': {'nested1': {'subset1': 'value1'}}}

In [37]:
d['key1']['nested1']['subset1']

'value1'

In [38]:
d['key1']

{'nested1': {'subset1': 'value1'}}

In [39]:
d['key1']['nested1']

{'subset1': 'value1'}

In [40]:
#dictionary methods

d={'key1':1, 'key2':2, 'key3':3}
d

{'key1': 1, 'key2': 2, 'key3': 3}

In [41]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [42]:
d.values()

dict_values([1, 2, 3])

In [43]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [44]:
#dictionary comprehensions

In [45]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [46]:
#power **
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [47]:
#multiplication *
{x:x*2 for x in range(10)}

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

In [48]:
#functions

In [49]:
def say_hello():
    print('hello')

In [50]:
say_hello()

hello

In [62]:
def greeting(name):
    print('Hello %s' %name)
    print('How are you %s' %name)

greeting('Rishika')

In [54]:
def add_num(num1,num2):
    return num1+num2

In [55]:
add_num(6,9)

15

In [56]:
result=add_num(8,3)

In [57]:
print(result)

11

In [60]:
print(add_num('one\t' , 'two'))

one	two

In [61]:
print(add_num('one\n' , 'two'))

one
two

In [77]:
#prime
def is_prime(num):
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
    else: 
        print('prime')

In [78]:
is_prime(33)

not prime

In [79]:
is_prime(11)

prime

In [4]:
import math
def is_prime(num):
    if num % 2 == 0 : 
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [5]:
is_prime(25)

False

In [6]:
is_prime(17)

True

In [7]:
is_prime(4)

False

In [17]:
#generators

def gencubes(n):
    for num in range(n):
        yield num**3

In [19]:
for x in gencubes(6):
    print(x)

0
1
8
27
64
125

In [20]:
for x in gencubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [21]:
def genfib(n):
    a=1
    b=1
    for num in range(n):
        yield a
        a,b= b,a+b

In [22]:
for i in genfib(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [34]:
def fibon(n):
    a = 1
    b = 1
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b,a+b
        
    return output

In [35]:
fibon(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [37]:
def simple_gen():
    for x in range(3):
        yield x

In [38]:
g=simple_gen()

In [39]:
print(next(g))

0

In [40]:
print(next(g))

1

In [41]:
print(next(g))

2

In [42]:
print(next(g))

StopIteration:

In [3]:
#iter
s= 'hello'
for i in s:
    print(i)

h
e
l
l
o

In [4]:
s_iter= iter(s)

In [5]:
next(s_iter)

'h'

In [6]:
next(s_iter)

'e'

In [7]:
next(s_iter)

'l'

In [8]:
next(s_iter)

'l'

In [9]:
next(s_iter)

'o'

In [10]:
next(s_iter)

StopIteration:

In [11]:
def fahrenheit(T):
    return ((float(9)/5)*T+32)
def celsius(T):
    return ((float(5)/9)*(T-32))

temp=[0,40,22.5,100]

In [14]:
F_temps= list(map(fahrenheit,temp))
F_temps

[32.0, 104.0, 72.5, 212.0]

In [15]:
#convert back
list(map(celsius,F_temps))

[0.0, 40.0, 22.5, 100.0]

In [16]:
list(map(lambda r: (5/9) * (r-32), F_temps))

[0.0, 40.0, 22.5, 100.0]

In [21]:
a=[1,2,3,4]
b=[5,6,7,8]
c=[9,10,11,12]

list(map(lambda x,y:x+y, a,b))

[6, 8, 10, 12]

In [22]:
list(map(lambda x,y,z:x+y+z, a,b,c))

[15, 18, 21, 24]

In [24]:
list(map(lambda x,y,z:x-y+z, a,b,c))

[5, 6, 7, 8]

In [26]:
from functools import reduce
lst=[77,42,6,12]
reduce(lambda x,y:x+y ,lst)

137

In [27]:
from functools import reduce
l=[2,4,6,8,2]
reduce(lambda x,y:x+y, l)

22

In [ ]:
from IPython.display import Image
Image('http://www.python-course.eu/images/reduce_diagram.png')

In [29]:
max_find=lambda a,b:a if (a < b) else b

In [33]:
print(lst)
reduce(max_find, lst)

[77, 42, 6, 12]

6

In [32]:
reduce(lambda a,b:a if (a > b) else b, lst)

77

In [37]:
def even_check(num):
    if num%2==0:
        return True

In [40]:
lst=range(30)
print(list(lst))
list(filter(even_check,lst))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [42]:
list(filter(lambda x: x%2==0, lst))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]